html, body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  font-family: 'Noto Sans SC', sans-serif;
  background-color: white;
}
body {
 width: 80%;
  background-color: white;
  margin: 0 auto;
}
header {
  height: 80px;
}
p,li {
   font-size: 16px;
  line-height: 2;
  padding-left: 100px;
}
article {
  background: white;
  padding: 10px;
   border-bottom: 3px solid #375e97;
}
article h2 {
  margin-top: 0;
}
.f1 article img {
  float: left;
  margin: 0 10px 10px 0;
  max-width: 100%;
}
.f2 article img {
  float: right;
  margin: 0 10px 10px 0;
  max-width: 100%;
}
article p {
  line-height: 2;
   font-size: 16px;
}
nav, article, footer {
  background-color: white;
  padding: 1%;
}
/* 文字排版 */
h1 {
  font-size: 50px;
  text-align: center;
  color: black;
}
h2 {
  font-size: 30px;
  text-align: center;
}
.f1 figure{
     border-bottom: 3px solid #375e97;
      padding: 10px;
      margin: auto;
}
.f1 figure img {
    display: flex;
    flex-flow: column;
    padding: 0px;
    margin: auto;  
}
.f1 figcaption {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
}
.f1 figure ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}
.f1 figure li {
  display: inline;
  text-align: center;
  flex: 4;
}
aside {
  background-color:white;
  flex: 1;
 margin-right: 10px;
  float: left;
    width: 180px;
    height: 400px;
}
aside li {
  padding-bottom: 10px;
}
nav {
  height: 40px;
  background-color:#ebe8e8;
  display: flex;
  padding: 1%;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}
nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition-duration: 200ms;
}
footer {
  margin-top: 20px;
  background-color:#ebe8e8;
}
