html, body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  font-family: 'Noto Sans SC', sans-serif;
  background-color: gray;
}
body {
 width: 800px;
  background-color: red;
  margin: 0 auto;
}

/* 文字排版 */
h1 {
  font-size: 60px;
  text-align: center;
  color: black;
}

h2 {
  font-size: 40px;
  text-align: center;
}

p, li {
  font-size: 16px;
  /* line-height 后而可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */    
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px
}
