html {
    font-family: sans-serif;
  font-size: 10px;
  font-family: 'Noto Sans SC', sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

body {
 width: 90%;
  background-color: white;
  margin: 0 auto;
}
/* info-box setup */
.info-box {
    width: 1100px;
    height: 3000px;
    margin: 10px auto 0;
  }
header {
  height: 80px;
}
p,li {
   font-size: 16px;
  line-height: 2;
    padding: 10px 10px;
}
article {
  background: white;
   margin-left: 130px;
    padding: 10px 10px;
   border-bottom: 3px solid #375e97;
}

.e1 img,.n2 img {
  float: left;
    padding: 10px 10px;
}
.n1 img {
  float: right;
}

/* 文字排版 */
h1 {
  font-size: 50px;
  text-align: center;
  color: black;
}
h2,h3 {
  font-size: 30px;
  text-align: center;
}
.m2 figure{
      padding: 10px 10px;
      margin: auto;
}
 figure img {
    display: flex;
    flex-flow: column;
    padding: 0px;
    margin: auto;  
}
 figcaption {
    background-color: white;
    color: black;
    padding: 10px 10px;
    text-align: center;
}
 figure ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}
 figure li {
  display: inline;
  text-align: center;
  flex: 4;
}
aside {
  background-color:white;
  flex: 1;
 margin-right: 0px;
 float: left;
    width: 130px;
    height: 400px;
}
aside li {
  padding-bottom: 10px;
}
  /* styling nav */
nav ul {
    border: 1px solid #ebe8e8;
    overflow: hidden;
    height: 50px;
    margin: 0;
    padding: 0;
     flex: 2;
  display: flex;
  }

nav li {
  display: inline;
  text-align: center;
    list-style-type: none;
    width: 300px;
}
nav a {
  font-size: 2rem;   
  display: inline-block;
    text-decoration: none;
    width: 100%;
    line-height: 50px;
    background: #ebe8e8;
    color: black;
}
nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

nav a:hover {
  color: white;
  text-shadow: 0 0 10px wheat;
  transition-duration: 200ms;
}
 .info-box li a:focus, .info-box li a:hover {
    background-color: #ebe8e8;
    color: black;
  }
.info-box li a.active {
    background-color: #ebe8e8;
    color: blak;
  }

 /* styling info-box panels */
.info-box .panels {
    clear: both;
    position: relative;
    height: 3000px;
  }
  .info-box div {
     background-color: white;
    color: black;
    position: absolute;
    padding: 10px 10px;
    height: 3000px;
    top: 0;
    left: 0;
  }
.info-box .active-panel {
    z-index: 1;
  }

/-----/
footer {
    text-align: left;
    font-size: 16px;
  margin-top: 20px;
  background-color:#ebe8e8;
}
